.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ButtonLogin {
  padding: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 50px;
  transition: 0.3s;
}
.ButtonLogin:hover {
  background-color: grey;
  color: black;
}
.ButtonLogin:active {
  background-color: lightgrey;
  color: black;
}
