/* .wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  padding-top: 100px;
  margin: 0 auto;
  height: 400px;
  width: 900px;
} */

.container {
  display: flex;
  flex-direction: column;
}

.TitleRepo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.ButtonBack {
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.ButtonBack:hover {
  background: black;
  color: white;
}
