.wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  