.WrapNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 100px;
}
.LinkNotFound {
  text-decoration: underline;
  transition: 0.3s;
  color: black;
}
.LinkNotFound:hover {
  color: grey;
}
